.create-header {
    font-size: 250% !important;
    font-weight: bold !important;
    padding-top: 20px;
    background-color: white !important;
}

.create-button {
    font-size: 135%;
    height: 50px;
    font-style: normal;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-name {
    font-size: 20px;
}

.side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: white !important; */
}

.create-button {
    margin-left: 10px;
    background-color: #1134A6;
    color: white;
}

.content {
    padding: 20px;
}

.search-container {
    align-items: center;
    margin-top: 10px;
    width: 50%;
    padding-bottom: 8px !important;
    font-size: large;
}

.search-icon {
    margin-right: 10px;
}

.book-card {
    margin-bottom: 24px;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: sans-serif;
}

.book-card {
    flex-basis: calc(50% - 30px);
    background-color: #ffffff;
    padding: 4px;
    border-left: 5px solid orange;
}

.input-style {
    background-color: white !important;
}

@media (max-width: 767px) {
    .book-card {
        flex-basis: 100%;
    }
}

/* Additional styles to ensure card alignment */
@media (min-width: 768px) {
    .book-card:nth-child(2n+1) {
        clear: both;
    }
}

.book-margin {
    padding: 16px;
    color: #808080;
}

.mat-body p {
    margin: 0 0 6px !important;
}

.mat-card-title {
    font-size: 20px !important;
}

.logo-image {
    display: inline-block;
    height: 48px;
    /* Adjust the desired height */
    margin-right: 10px;
    /* Adjust the desired margin */
    vertical-align: middle;
}

.mat-toolbar-row {
    padding: -1px 16px !important;
}

.search-icon {
    padding-bottom: -2px !important;
}

.example-full-width {
    width: 100%;
    min-width: 150px;
    max-width: 50px;
}

.input-style {
    font-size: 18px;
    padding-left: 8px !important;
}

.search-icon {
    padding: 2px !important;
}

.sub-heading {
    color: #292929 !important;
}

.sub-title {
    color: #474747 !important;
}