<!-- <mat-toolbar>
    <mat-toolbar-row>
      <img src="../../../assets/images/atom.png" alt="Company Logo" class="logo">
    </mat-toolbar-row>
  </mat-toolbar> -->
  <mat-toolbar color="primary">
    <img src="../../../assets/images/atom.png" alt="Company Logo" class="logo">
    <span class="company-name">Company Name</span>
  </mat-toolbar>
  <div class="side-header">
    <h2>Books</h2>
    <button mat-raised-button color="primary" class="create-button">Create New Book</button>
  </div>
  <div class="search-container">
    <i class="material-icons search-icon">search</i>
    <mat-form-field>
      <input matInput type="text" placeholder="Search">
    </mat-form-field>
  </div>
  <div><h2>All Books</h2></div>
  <div class="book-grid">
    <mat-card *ngFor="let book of books" class="book-card">
        <mat-card-content class="book-margin">
          <mat-card-title>{{ book.title }}</mat-card-title>
          <p>Author: {{ book.authors }}</p>
          <p>Publisher: {{ book.publisher }}</p>
          <p>Publisher Date: {{ book.publishedDate }}</p>
        </mat-card-content>
      </mat-card>  
        
    <router-outlet></router-outlet>
  </div>
 
  
  
  
  