<mat-sidenav-container class="container" autosize>
    <mat-sidenav mode="side" opened="true" disableClose (keydown.escape)="toggleMenu()">
        <button class="toggle-button" (click)="toggleMenu()"
            matTooltip="{{ isMenuExpanded ? 'Hide Menu' : 'Show Menu' }}">
            <mat-icon>{{ isMenuExpanded ? 'arrow_back_ios' : 'arrow_forward_ios' }}</mat-icon>
        </button>

        <mat-nav-list>
            <ng-container *ngFor="let menuItem of menuList">
                <div class="menu-option">
                    <a mat-list-item [routerLink]="menuItem.viewLink" routerLinkActive="active">
                        <div>
                            <img *ngIf="menuItem.image" [src]="menuItem.image" alt="{{ menuItem.title }}"
                                class="menu-icon">
                        </div>
                        <div>
                            <span mat-line *ngIf="isMenuExpanded">{{ menuItem.title }}</span>
                        </div>
                    </a>
                </div>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #menuItemTemplate let-menuItem="menuItem" let-isChild="isChild">
    <a *ngIf="menuItem.isVisible" 
        [ngClass]="{ 'is-child': isChild }" 
        mat-list-item [routerLink]="menuItem.viewLink"
        routerLinkActive="active" 
        matTooltip="{{ isMenuExpanded ? '' : menuItem.title }}" 
        matTooltipPosition="right">
        <img *ngIf="menuItem.image" [src]="menuItem.image" alt="{{ menuItem.title }}" class="custom-icon">
        <span mat-line *ngIf="isMenuExpanded">{{ menuItem.title }}</span>
    </a>
</ng-template>